:root{
    --marian-blue: #023e8aff;
    --honolulu-blue: #0077b6ff;
    --blue-green: #0096c7ff;
    --pacific-cyan: #00b4d8ff;
    --vivid-sky-blue: #48cae4ff;
    --non-photo-blue: #90e0efff;
    --non-photo-blue-2: #ade8f4ff;
    --light-cyan: #caf0f8ff;
}

body {
    margin: 0;
}

.bg-marian-blue {
    background-color: var(--marian-blue);
}

.btn-outline-vivid-sky-blue {
    border: 1px solid var(--vivid-sky-blue);
    color: var(--vivid-sky-blue);
    background-color: transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-outline-vivid-sky-blue:hover {
    color: #ffffff; /* Color del texto al pasar el mouse */
    background-color: var(--vivid-sky-blue); /* Fondo amarillo al pasar el mouse */
    border-color: var(--vivid-sky-blue); /* Mantener el color del borde */
}

footer {
    padding: 15px;
    text-align: center;
}


.hero {
    background-color: var(--blue-green);
}

.colored-text {
    background-color: var(--marian-blue);
}